{:tables
 ;; In PostgreSQL you can't have a table named "user" unless you quote
 ;; it. So we quote "user" everywhere instead of saying :user.
 {"\"user\"" {:cols [[:user_id :bigserial]
                     [:username "VARCHAR(255)" "NOT NULL"]
                     [:email :text "NOT NULL"]
                     [:timecreated "TIMESTAMP WITH TIME ZONE" "DEFAULT CURRENT_TIMESTAMP"]]
              :primary-key [:user_id]
              :indices {:user_username_ux [[:username] :unique]
                        :user_email_ix [[:email]]}}
  :shoe {:cols [[:shoe_id :bigserial]
                [:whoseami :bigint]
                [:style :text]
                [:size :text "NOT NULL"]
                [:leftright :text]]
         :primary-key [:shoe_id]
         :foreign-keys {:shoe_user_id_fk [:whoseami "\"user\"" :user_id]}
         :indices {:shoe_id_ux [[:shoe_id] :unique]
                   :shoe_stylelr_ix [[:style :leftright]]}}}}
